/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media (max-width: 1000px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}
/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
/* Main Complement color */
/* Main Secondary color (1) */
/* Main Primary color */
/* Main Complement color */
table.reservations {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.85em;
  position: relative;
  table-layout: fixed;
}
table.reservations thead td {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  z-index: 100;
}
table.reservations td,
table.reservations th {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
table.reservations td {
  border: solid #36648B 1px;
  height: 40px;
  display: table-cell;
  padding: 0;
}
table.reservations td.resourcename {
  padding: 1px 3px;
  background-color: #EDEDED;
  color: #999999;
  width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
}
table.reservations td.resourcename a {
  color: #0772A1;
  text-decoration: none;
}
table.reservations td.resourcename a:hover {
  color: #3BA3D0;
}
table.reservations td.resdate {
  width: 150px;
  padding: 0 3px;
  background-color: #36648B;
  color: #F0F0F0;
}
table.reservations tr.today td.resdate,
table.reservations td.today {
  color: #FFFFFF;
  background-color: #5199d1;
}
table.reservations tr.today td.reslabel {
  background-color: #cfcfcf;
}
table.reservations td.reslabel {
  padding-left: 2px;
  background-color: #EDEDED;
  color: #333333;
}
table.reservations tr.today td.reslabel {
  color: #000000;
}
table.reservations.reservations-tall {
  table-layout: auto;
}
@media only screen and (max-width: 768px) {
  table.reservations thead td {
    top: 0;
  }
}
table.reservations.mobile {
  table-layout: fixed;
}
table.reservations.mobile div.reservable {
  border: dashed 1px #585754;
  color: #585754;
  line-height: 20px;
  background-color: #fff;
  padding-left: 3px;
  margin: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.reservations.condensed td.resdate {
  width: auto;
  min-width: 120px;
}
.reservations.condensed .reserved,
.reservations.condensed .unreservable,
.reservations.condensed div.reservable {
  padding: 3px;
  margin: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
.reservations.condensed div.reservable {
  border: dashed 1px #585754;
  color: #585754;
  background-color: #fff;
}
.reservations.condensed div.reservable:hover {
  background-color: #E9E9E9;
}
#reservations .mobile {
  font-size: 0.8em;
}
#reservations .mobile .resdate {
  background-color: #4279A5;
  width: auto;
}
#reservations .mobile td.today {
  background-color: #5199d1;
}
#reservations .mobile .slot {
  padding: 2px;
}
.slot {
  min-width: 1px;
  max-width: 1px;
  overflow: hidden;
}
.event {
  overflow: hidden;
  position: absolute;
  background-color: #000;
  height: 40px;
  border-top: solid 1px #36648B;
  border-left: solid 1px #36648B;
  z-index: 2;
}
.unreservable {
  background-color: #CF9D9B;
  color: #fff;
  border-color: #482423;
}
td.reservable,
div.reservable {
  background-color: #FFF;
  color: #333;
}
.reserved {
  background-color: #408AD2;
  color: #fff;
  cursor: pointer;
}
td.reserved {
  padding-left: 1px;
}
@keyframes droppedpulse {
  0%,
  100% {
    background-color: #6F9B;
  }
  50% {
    background-color: transparent;
  }
}
td.dropped {
  animation: droppedpulse 1s infinite;
}
.reserved.hilite {
  background-color: #59A8EF;
}
.reserved.mine {
  background-color: #6F9BAE;
}
.reserved.mine.hilite {
  background-color: #63AFD0;
  color: #ffffff;
}
.reserved.participating {
  background-color: #875cae;
}
.reserved.participating.hilite {
  background-color: #a979d1;
}
.past {
  opacity: 0.6;
}
.reserved.pending {
  background-color: #ffb540;
  color: black;
}
.reserved.pending.hilite {
  background-color: #ffc973;
}
.reservable.hilite,
#reservations .ui-selecting {
  background-color: #23BF35;
}
.hilite {
  cursor: pointer;
}
.reservable.clicked,
#reservations .ui-selected {
  background-color: #259433;
}
.reserved.clicked {
  background-color: #1979CF;
}
.pasttime {
  background-color: #BDBDBD;
}
.restricted {
  background: repeating-linear-gradient(45deg, transparent, transparent 10px, #ccc 10px, #ccc 20px), linear-gradient(to bottom, #eee, #999);
  color: black;
}
.schedule_title {
  text-align: center;
  vertical-align: top;
}
.schedule-dates {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 10px;
}
.ui-datepicker {
  margin-left: auto;
  margin-right: auto;
}
.res_popup_details {
  min-width: 450px;
}
.res_popup_details .summary {
  font-style: italic;
}
.res_popup_details .user {
  font-weight: bold;
}
.res_popup_details .pendingApproval {
  color: #ffb540;
  font-weight: bold;
}
table.reservations td.resourcename.hilite {
  background-color: #fbffc2;
}
div.legend {
  line-height: 22px;
  width: 110px;
  border: solid #555 1px;
  text-align: center;
  display: inline-block;
  *display: inline;
  margin: 0 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.reservations-left-header {
  border-bottom: solid 1px #E9E9E9;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  padding: 3px 0;
  color: #585754;
}
.reservations-left-content {
  padding: 10px;
}
ul.jqtree-tree .group-resource .jqtree-title {
  color: #111111;
}
#reservations-left > h4 {
  text-align: center;
}
ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
  background: none;
  font-weight: bold;
}
ul.jqtree-tree .jqtree-toggler {
  top: 10%;
}
#make_default {
  padding-right: 10px;
}
.table-cell-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.advancedFilterTitle {
  margin-top: 10px;
  text-align: center;
}
#reservations-left {
  padding: 0;
  font-size: 0.9em;
}
@media only screen and (min-width: 768px) {
  #reservations-left {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    z-index: 100;
  }
}
#reservations-left hr {
  border: 0;
  height: 1px;
  background-color: #BCBCBC;
}
#reservations-left .btn {
  width: 100%;
}
#reservations-left .textbox {
  width: 120px;
}
#reservations-left select.textbox,
#reservations-left textarea,
#reservations-left .button {
  width: 128px;
}
#reservations-left .form-group {
  margin-bottom: 3px;
}
#reservations-left .btn-clear {
  margin-top: 3px;
}
#reservations-left ul.jqtree-tree li.jqtree-selected > .jqtree-element,
#reservations-left ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
  background-color: transparent;
  background: none;
}
#calendar_toggle {
  color: #585754;
  padding-left: 5px;
}
#calendar_toggle:hover {
  color: #72716d;
}
#calendar_toggle span {
  font-size: 16pt;
}
#loading-schedule {
  position: fixed;
  height: 30px;
  background-color: rgba(76, 175, 80, 0.7);
  border: solid 2px rgba(32, 65, 32, 0.7);
  top: 75px;
  left: 50%;
  z-index: 101;
  width: auto;
  padding: 0 30px;
  line-height: 30px;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#page-schedule a {
  text-decoration: none;
}
.reservations.mobile .reserved {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 1px 2px;
  margin: 1px;
}
a.toggle-sidebar {
  color: #585754;
}
.no-resource-warning {
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#showFullWeek {
  display: block;
}
.schedule-legend {
  margin-bottom: 10px;
}
#individualDatesGo {
  display: none;
}
#individualDatesList {
  display: none;
}
#individualDatesList div {
  display: inline-block;
  padding-right: 5px;
}
#scheduleListDropdown .caret {
  margin-left: 0;
  border-top: 8px dashed;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.reservation-new,
.reservation-updated {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.9rem;
  text-transform: uppercase;
  background-color: #88CC88;
  padding: 2px;
  margin: 1px;
  color: #000;
  display: inline-block;
  line-height: 1rem;
}
.reservation-updated {
  background-color: #D5DED9;
  color: #000;
}
#reservations {
  position: relative;
}
