{*
Copyright 2012-2020 Nick Korbel

This file is part of Booked Scheduler.

Booked Scheduler is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Booked Scheduler is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Booked Scheduler.  If not, see <http://www.gnu.org/licenses/>.
*}
{include file='globalheader.tpl'}
<div id="page-support-and-credits" class="admin-page">

    <div class="default-box col-xs-12 col-sm-8 col-sm-offset-2">

        <h1>About Booked Scheduler</h1>

        <h2>Support</h2>



        <h2>Credits</h2>

        <h3>Authors</h3>

        <ul>
            <li>Nick Korbel</li>
            <li>Dung Le</li>
            <li>Jan Mattila</li>
            <li>Paul Menchini</li>
        </ul>

        <h3>Translators</h3>

        <ul>
            <li>Boris Vatin (French)</li>
            <li>Dariusz Kliszewski, Grzegorz Bis (Polish)</li>
            <li>Tadafumi Kouzato (Japanese)</li>
            <li>Jonne Olie (Dutch)</li>
            <li>Julio Guedimin, Manuel J. Morgado Morano, Laura Arjona (Spanish)</li>
            <li>Jordi Divins (Catalan)</li>
            <li>Nicola Ruggero, Daniele Cordella, Marco Ponti (Italian)</li>
            <li>Olli Räisänen, Afaf Fafa (Finnish)</li>
            <li>Jakub Baláš, Leoš Jedlička (Czech)</li>
            <li>Maik Standtke, Sven de Vries, Jonas Endersch (German)</li>
            <li>Stephen Höglund (Swedish)</li>
            <li>Vladislav Zhivkov (Bulgarian)</li>
            <li>Bart Verheyde (Flemisch)</li>
            <li>William Oliveira, Fábio Luiz Barbosa (Portuguese Brazil)</li>
            <li>Yosef Branse (Hebrew)</li>
            <li>Vladislav Zhivkov (Bulgarian)</li>
            <li>Linas Redeckis (Lithuanian)</li>
            <li>Davor Tomasevic (Croatian)</li>
            <li>Alenka Kavčič (Slovenian)</li>
            <li>Tage Jørgensen (Danish)</li>
            <li>Tran Dai Nghia (Vietnamese)</li>
            <li>Karl Jaani (Estonian)</li>
            <li>Erhan Harmankaya (Turkish)</li>
            <li>Txeli Sanchez (Basque)</li>
            <li>Razvan Mihaila (Romanian)</li>
            <li>Veliša Bujić (Serbian)</li>
            <li>Róbert Bere  (Hungarian)</li>
        </ul>

        <h3>Thank you to the following projects and libraries</h3>

        <ul>
            <li>Smarty</li>
            <li>PEAR</li>
            <li>adLDAP</li>
            <li>jQuery</li>
            <li>FullCalendar</li>
            <li>log4php</li>
            <li>securimage</li>
            <li>SimpleImage</li>
            <li>PHPMailer</li>
            <li>jsTimezoneDetect</li>
            <li>jqplot</li>
            <li>FeedWriter</li>
            <li>Slim</li>
            <li>Bootstrap</li>
            <li>Select2</li>
            <li>Owl</li>
            <li>Font Awesome</li>
        </ul>

        <h2>License</h2>

        <p>Booked Scheduler free and open source, licenced under the GNU GENERAL PUBLIC LICENSE. Please see the included
            License file for more details.</p>

    </div>
</div>
{include file="javascript-includes.tpl"}

{include file='globalfooter.tpl'}